body.template-search {

  .card-organ {
    transition: all .25s ease-out;

    &:hover {
      transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
      -webkit-font-smoothing: subpixel-antialiased;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 10px 20px !important;
      transition: 0.25s ease-in;
      text-decoration: none;
    }

    .card-ic {

      i.bi {
        font-size: 2.25rem;
      }
    }

    .card-ic-circle {
      width: 2.5rem;
      height: 2.5rem;

      i.bi::before {
        font-weight: 600 !important;
      }
    }
  }

  .meva-vinculacio {

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #search-spinner {
    position: relative;
    z-index: 1000;

    .spinner-border {
      width: 3rem;
      height: 3rem;
      border-width: 0.3em;
    }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}